activate-global-python-argcomplete
az
az.bat
az.completion.sh
azps.ps1
hf
huggingface-cli
mlx_lm.awq
mlx_lm.cache_prompt
mlx_lm.chat
mlx_lm.convert
mlx_lm.dwq
mlx_lm.dynamic_quant
mlx_lm.evaluate
mlx_lm.fuse
mlx_lm.generate
mlx_lm.gptq
mlx_lm.lora
mlx_lm.manage
mlx_lm.server
mlx_lm.upload
python
python-argcomplete-check-easy-install-script
python3
python3.12
register-python-argcomplete
snowsql
tiny-agents
