# Ignore all symbolic links
# just paste the output of:
# find * -type=l > .gitignore
activate-global-python-argcomplete
aider
basedpyright
basedpyright-langserver
clai
cookiecutter
cz
debugpy
debugpy-adapter
git-cliff
git-cliff-completions
git-cliff-mangen
git-cz
huggingface-cli
logfire
marimo
mlx_lm.awq
mlx_lm.cache_prompt
mlx_lm.chat
mlx_lm.convert
mlx_lm.dwq
mlx_lm.dynamic_quant
mlx_lm.evaluate
mlx_lm.fuse
mlx_lm.generate
mlx_lm.lora
mlx_lm.manage
mlx_lm.server
mlx_lm.upload
pyrefly
python
python-argcomplete-check-easy-install-script
python3
python3.12
register-python-argcomplete
ruff
snowsql
tiny-agents
ty
zizmor
